h1,
.h1,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 500;
    line-height: 1.5;

    >a {
        font: inherit;
        line-height: inherit;
        color: inherit;
    }
}

h1,
.h1,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 span,
p {
    color: #000;
}

h1,
.h1 {
    font-size: 3.6rem;
}

h2,
.h2 {
    font-size: 3rem;
    line-height: 1.5;
}

span,
p,
a {
    line-height: 1.5;
    font-size: 1.4rem;
}

a {
    color: $color-primary;
}

@media (max-width: 599px) and (orientation: portrait) {

    h1,
    .h1 {
        font-size: 4.2rem;
    }

    h2,
    .h2 {
        font-size: 3.6rem;
    }
}